{
	"plugins": [
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-react-display-name",
        "@babel/plugin-proposal-object-rest-spread"
	],
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
    ]
}
